<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cellphone</th>
      <th>Birthday</th>
      <th>Sex</th>
      <th>Nautical professional</th>
      <th>Academic profile</th>
      <th>Relationship</th>
      <th>User</th>
      <th>About</th>
      <th>Has embarcation</th>
      <th>Nautical work</th>
      <th>Naval service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.cellphone %></td>
        <td><%= user.birthday %></td>
        <td><%= user.sex %></td>
        <td><%= user.nautical_professional %></td>
        <td><%= user.academic_profile %></td>
        <td><%= user.relationship %></td>
        <td><%= user.partner %></td>
        <td><%= user.about %></td>
        <td><%= user.has_embarcation %></td>
        <td><%= user.nautical_profession_description %></td>
        <td><%= user.naval_service %></td>
        <td><%#= link_to 'Show', user %></td>
        <td><%#= link_to 'Edit', edit_user_path(user) %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New User', new_user_path %>
